<% provide(:title, "Users") %>

<h2>Users</h2>

<p>
  <em>Visit a user profile to see his activity feed, and to start following him.</em>
</p>

<% @users.each do |user| %>
  <p><%= image_tag(user.avatar.thumb.url) %> <%= link_to user.fullname, user %></p>
<% end %>
