<% if activities.blank? %>
  <p>
    There is nothing to display right now.
  </p>
  <p>
    Please login then perform some actions to generate some activities.
  </p>
<% else %>
  <div class='activities'>
    <% activities.each do |activity| %>
      <%= render :partial => "shared/activity", :locals => { :activity => activity } %>
    <% end %>
  </div>
<% end %>
