<% if timeline_entries.blank? %>
  <p>
    There is nothing to display right now.
  </p>
  <p>
    Please login then perform some actions to generate some activities.
  </p>
<% else %>
  <div class='timeline_entries'>
    <% timeline_entries.each do |timeline_entry| %>
      <%= render :partial => "shared/timeline_entry", :locals => { :timeline_entry => timeline_entry } %>
    <% end %>
  </div>
<% end %>
