<% if timeline_entries.blank? %>
  <p>
    There is nothing to display right now.
  </p>
  <p>
    You can now:
    <ul>
      <li>Follow some users</li>
      <li>Follow some albums</li>
      <li>Create albums and upload pictures in them</li>
    </ul>
    Then your news feed will starts to fill once:
    <ul>
      <li>A user you follow is doing some actions</li>
      <li>A new picture is added to an album your follow</li>
      <li>Someone starts following one of your albums</li>
      <li>Someone adds one of your pictures to another album</li>
      <li>Someone likes one of your pictures</li>
    </ul>
  </p>
<% else %>
  <div id='timeline_entries'>
    <% timeline_entries.each do |timeline_entry| %>
      <%= render :partial => "shared/timeline_entry", :locals => { :timeline_entry => timeline_entry } %>
    <% end %>
  </div>
  <% if timeline_entries.is_a?(Kaminari::PaginatableArray) %>
    <%= paginate(timeline_entries) %>
  <% end %>
<% end %>
