<div class="row">
  <aside class="col-md-3">
    <section>
      <p>
        Welcome to the demo site of <a href="ttps://github.com/fotonauts/activr">activr</a>, the ruby gem that handles activity streams on <a href="http://www.fotopedia.com">fotopedia</a>.
      </p>
      <p>
        Please login then perform actions to generate some activities.
      </p>
      <p>
        Source code is <a href="ttps://github.com/fotonauts/activr_demo">available on github</a>.
      </p>
      <p>
        Check out <a href="http://fotopedia-code.tumblr.com">our tumblr</a> for more awesomeness from fotopedia's team.
      </p>
    </section>
  </aside>
  <div class="col-md-9">
    <h3>Global Activity Feed</h3>

    <%= render :partial => "shared/activities", :locals => { :activities => @activities } %>
  </div>
</div>
